@use "../../styles" as *;

.hero {
  &__bottom {
    position: relative;
    z-index: 40;
    height: 200px;
    width: 100%;

    clip-path: polygon(
      0 50%,
      20.3125% 50%,
      32.2917% 0,
      67.7083% 0,
      79.6875% 50%,
      100% 50%,
      100% 100%,
      0 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-bottom: -2px;

    background-color: $color-white;

    @include mobile {
      height: 290px;

      padding-bottom: 40px;

      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;

      clip-path: polygon(
        0 7.2414%,
        20.5128% 7.2414%,
        32.3077% 0,
        70.7692% 0,
        79.4872% 7.2414%,
        100% 7.2414%,
        100% 100%,
        0 100%
      );
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 15px;

    &-body {
      display: flex;
      flex-direction: column;
      gap: 3px;

      font-size: $font-size-sm;
    }

    &-label {
      font-weight: 900;
      padding-bottom: 5px;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 58px;
      height: 58px;

      background-color: $color-orange;
      border-radius: 100%;
    }

    @include mobile {
      gap: 20px;
      max-width: 75%;
      width: 285px;
    }
  }
}
