@use "../../styles" as *;

.hero {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-self: self-end;

    color: $color-white;
    font-weight: 700;
  }

  &__title {
    font-size: $font-size-3xl;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    @include mobile {
      font-size: $font-size-xl;
    }
  }

  &__subtitle {
    font-size: $font-size-lg;
    line-height: 1.5;

    @include mobile {
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }
}
