@use "../../styles" as *;

.hero {
  &__arrow {
    &--prev {
      left: -60px;
    }

    &--next {
      right: -60px;
    }
  }

  &__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    display: flex;
    gap: 8px;

    @include mobile {
      display: none;
    }
  }

  &__dot {
    width: 38px;
    height: 6px;
    border-radius: 20px;

    background-color: rgba($color-white, 0.5);
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      width 0.3s ease;

    &--active {
      width: 48px;
      background-color: $color-orange;
    }
  }
}
