$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-2xl: 36px;
$font-size-3xl: 48px;

$color-blue: #1a4d70;
$color-orange: #f9572b;
$color-white: #ffffff;

$breakpoint-mobile: 1450px;
