@use "../../styles" as *;

.advantages {
  &__cards {
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 24px;

      top: 32px;
    }
  }

  &__card {
    width: 32%;
    min-height: 445px;

    padding: 32px;
    border-radius: 8px;
    background-color: $color-white;

    @include mobile {
      width: 100%;
      min-height: 380px;
    }

    &-header {
      display: flex;

      position: relative;
    }

    &-badge {
      position: relative;
    }

    &-star {
      width: 74px;
      height: 90px;
    }

    &-number {
      position: absolute;
      transform: translate(40%, -50%);
      top: 50%;
      right: 50%;
    }

    &-icon {
      z-index: 2;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 64px;
    }

    &-title {
      font-size: $font-size-lg;
      text-align: start;

      margin: 40px 0 16px;

      &::after {
        margin: 16px 0 0;
      }
    }
  }
}
