@use "../../styles" as *;

@use "Cards" as *;
@use "Bottom" as *;

.advantages {
  position: relative;

  &__background {
    position: relative;
    z-index: 0;

    width: 100%;

    pointer-events: none;

    @include mobile {
      height: 1275px;
    }

    &-image {
      width: 100%;
      height: 583px;

      object-fit: cover;
      object-position: center;
    }

    &-overlay {
      display: none;
      content: "";

      position: absolute;
      top: 490px;

      width: 100%;
      height: calc(1275px - 490px);

      background-color: $color-blue;
      clip-path: polygon(0 35px, 28% 70px, 73% 0, 100% 35px, 100% 100%, 0 100%);

      @include mobile {
        display: block;
      }
    }
  }

  &__content {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 110px;
    z-index: 10;

    width: 100%;

    @include mobile {
      top: 40px;
    }
  }

  &__title {
    margin-bottom: 50px;

    @include mobile {
      margin: 0 auto;

      width: min-content;
      white-space: normal;
      word-break: normal;
    }
  }
}
