@use "../../styles" as *;

.equipments {
  &__slider {
    width: 43%;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }
  }

  &__track {
    display: flex;

    transition: transform 0.4s ease-in-out;
  }
}
