@use "../../styles" as *;

.about {
  &__advantages {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__item {
    &-visual {
      position: relative;
    }

    &-number {
      position: absolute;
      top: 25px;
      left: 17px;
    }

    &-label {
      font-weight: 900;

      max-width: 190px;
      margin-top: 15px;
    }

    &:nth-child(1) {
      @include scroll-reveal("bottom", 30px, 15%, 20%);
    }
    &:nth-child(2) {
      @include scroll-reveal("bottom", 50px, 20%, 25%);
    }
    &:nth-child(3) {
      @include scroll-reveal("bottom", 60px, 23%, 24%);
    }
  }
}
