@use "../../styles" as *;

.about {
  &__pumps-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: flex;
    justify-content: flex-end;
    pointer-events: none;

    width: 45%;

    @include mobile {
      position: relative;
      bottom: 0;
      transform: translateY(0);

      width: 100%;

      order: 2;
    }
  }

  &__pumps {
    max-width: 90%;
    height: auto;
    object-fit: contain;

    @include scroll-reveal("right", 20px);
  }
}
