@use "../../styles" as *;

@use "Pumps" as *;
@use "Content" as *;
@use "Advantages" as *;

.about {
  position: relative;

  width: 100%;
  padding: 90px 0;

  background-color: $color-gray;

  @include mobile {
    padding: 50px 0;
  }

  &__inner {
    width: 100%;

    @include mobile {
      margin-top: 45px;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
