@use "../../styles" as *;

.callback {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 470px;

    margin: 32px auto 0;

    @include mobile {
      width: 342px;
    }

    &-group {
      width: 100%;

      &:nth-child(1) {
        @include scroll-reveal("left", 30px, 20%, 26%);
      }
      &:nth-child(2) {
        @include scroll-reveal("left", 50px, 26%, 30%);
      }
      &:nth-child(3) {
        @include scroll-reveal("left", 60px, 30%, 33%);
      }
    }

    &-label {
      color: $color-white;

      font-size: $font-size-xs;
    }

    &-input {
      width: 100%;
      height: 43px;

      border-radius: 4px;
      outline: none;
      border: none;

      margin-top: 4px;
      padding-left: 8px;
    }
  }
}
