@use "../../styles" as *;

.navbar__triangle {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: $color-blue;

  &--left {
    clip-path: polygon(0 24%, 20% 83%, 0 100%);

    @include mobile {
      display: none;
    }
  }

  &--right {
    right: 0;
    clip-path: polygon(57% 60%, 82% 55%, 100% 13.5%, 100% 100%, 58% 100%);

    @include mobile {
      clip-path: polygon(
        calc(233 / 390) * 100% 100%,
        100% calc(75 / 120) * 100%,
        100% 100%
      );
    }
  }
}
