@use "../../styles" as *;

.contacts {
  &__info {
    flex: 0 0 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: $color-white;

    @include mobile {
      gap: 8px;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;

    padding: 40px;

    @include mobile {
      padding: 32px;
    }

    &-note {
      opacity: 0.8;
      font-size: $font-size-xs;
      color: $color-gray-soft;
    }

    &-info {
      display: flex;
      flex-direction: column;

      max-width: 70%;
    }

    &-icon {
      margin-bottom: 12px;
    }

    &--first {
      flex: 0 0 71%;

      background-color: $color-orange;

      @include scroll-reveal("left", 40px, 6%, 20%);
    }

    &--second {
      flex: 0 0 26%;

      background-color: $color-gray-hard;

      align-self: end;
      @include scroll-reveal("left", 40px, 6%, 20%);
    }
  }
}
