@use "../abstracts/variables" as *;

.section__title {
  font-size: $font-size-2xl;
  font-weight: 700;
  text-align: center;

  &::after {
    content: "";
    display: block;

    margin: 28px auto 0;
    width: 100px;
    height: 3px;

    background-color: $color-orange;
  }

  &--white {
    color: $color-white;
  }
}
