@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section__title {
  font-size: $font-size-2xl;
  font-weight: 700;
  text-align: center;

  @include scroll-reveal("top", 40px, 10%, 20%);

  &::after {
    content: "";
    display: block;

    margin: 28px auto 0;
    width: 100px;
    height: 3px;

    background-color: $color-orange;
    @include scroll-reveal("bottom", 40px, 10%, 20%);
  }

  &--white {
    color: $color-white;
  }
}
